* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body, 
#root {
    height: 100%;
}

#root {
    display: grid;
    grid-template-rows: 48px 1fr 48px;
}

:root {
    --primary-color: #ff4500;
    --primary-color-bright: #ff9f00;
    --primary-color-dark: #964b00;
}